// Default black theme

// Color variables
$black: #181818;
$red: #00AB4E;
$red-dark: #00AB4E;
$white: #fff;

// Config
$color-background: $red !default;
$color-dot-accent: $black !default;
$color-foreground: $black !default;
$color-title: $white !default;
$color-body-text: $black !default;
$color-text-accent: $red-dark !default;
$color-code: $red-dark !default;
$color-nav-link: $white !default;
$color-primary-link: $red !default;

// Import sass partials (used in all themes)
@import
        "variables",
        "base",
        "components",
        "utilities"
;


/* grid
------------------------- */
* { box-sizing: border-box;}

.grid {
  width: 1800px;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item,
.grid-sizer {
  width: 23.5%;
}

.gutter-sizer {
  width: 2%;
}

.grid-item {
  float: left;
  height: 80px;
  background: #09F;
  counter-increment: item;
  margin-bottom: 10px;
  border-radius: 10px;
}

.grid-item:before {
  font-size: 30px;
  color: white;
  text-align: center;
  display: block;
  padding: 0.4em;
  content: counter(item);
}

.grid-item--height2 {
  height: 120px;
  background: #C25;
}

.grid-item--height3 {
  height: 160px;
  background: #EA0;
}
